.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mr-1 {
    margin-right: 10px;
}
.mr-2{
    margin-right: 20px;
}
.bg-danger {
    background-color: #E04E4E;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-row.space-between {
    justify-content: space-between;
}